.row-header {
    margin: 0px auto;
    padding: 0px;
    font-size: 15px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 0px ridge;
    min-height: 400px;
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.carousel-item {
    height: 400px;
    margin: 0px auto;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: auto;
}

#labelButton {
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.label {
    background-color: yellow;
    padding: 0 20px 0 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #fff;
}

h3 {
    color: #fff;
}

/* .buy-button {
    display: flex;
    justify-content: center;
  }
  
  .buy-button button {
    background-color: #f2f2f2;
    color: #333333;
  } */

.btn-outline-light {
    color: #f8f9fa;
    background-color: red;
    background-image: none;
    border-color: red;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    margin-right: 0px;
}

.card-text del {
    color: black;
}
